<!DOCTYPE html>
@{
    ViewData["Title"] = "Truck Register";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Register.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css">
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
</head>
<body>
    <section>
        <h2 class="title">ລົດບັນທຸກ</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="license" class="form-label">ປ້າຍລົດ</label>
                    <input type="text" class="form-control" id="license" placeholder="">
                </div>
            </div>
            <div class="col-md-3">
                <label for="type" class="form-label">ປະເພດລົດ</label>
                <select class="form-select" aria-label="Default select example" id="type">
                    <option selected>ເລືອກ</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="comname" class="form-label">ຊື່ບໍລິສັດ</label>
                    <input type="text" class="form-control" id="comname" placeholder="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="truckbox">
                    <button>ເພີ່ມ</button>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table" id="example">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ປ້າຍລົດ</th>
                        <th scope="col">ປະເພດລົດ</th>
                        <th scope="col">ຊື່ບໍລິສັດ</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                        <td>
                            <div class="actionbox">
                                <a class="btnedit"><i class="fas fa-pen-to-square"></i></a>
                                <a class="btndelete"><i class="fas fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
</body>
</html>
