<!DOCTYPE html>
@{
    ViewData["Title"] = "User";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Register.css" asp-append-version="true" />
</head>
<body>
    <section>
        <h2 class="title">ຜູ້ໃຊ້ງານ</h2>
        <div class="row regisbox">
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="user" class="form-label">ຊື່ຜູ້ໃຊ້</label>
                    <input type="text" class="form-control" id="user" placeholder="">
                </div>
                <div class="mb-3">
                    <label for="type" class="form-label">ປະເພດ</label>
                    <select class="form-select" aria-label="Default select example" id="type">
                        <option selected>ເລືອກ</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="fullname" class="form-label">ຊື່ ແລະ ນາມສະກຸນ</label>
                    <input type="text" class="form-control" id="fullname" placeholder="">
                </div>
                <br />
                <center>
                    <button>ບັນທຶກ</button>
                    <button>ລ້າງ</button>
                </center>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="password" class="form-label">ລະຫັດ</label>
                    <input type="text" class="form-control" id="password" placeholder="">
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">ຊື່ບໍລິສັດ</label>
                    <select class="form-select" aria-label="Default select example" id="country">
                        <option selected>ເລືອກ</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="empid" class="form-label">ລະຫັດພະນັກງານ</label>
                    <input type="text" class="form-control" id="empid" placeholder="">
                </div>
            </div>
            <div class="col-md-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ຊື່ຜູ້ໃຊ້</th>
                            <th scope="col">ຊື່ບໍລິສັດ</th>
                            <th scope="col">ປະເພດ</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                            <td>
                                <div class="actionbox">
                                    <a class="btnedit"><i class="fas fa-pen-to-square"></i></a>
                                    <a class="btndelete"><i class="fas fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    
</body>
</html>
