<!DOCTYPE html>
@{
    ViewData["Title"] = "Forgot Password";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Forgotpassword.css" asp-append-version="true" />
</head>
<body>
    <section>
        <h2 class="title">Forgot Password</h2>
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <center>
                    <label>New Password</label>
                </center>
                <div class="mb-3">
                    <label for="user" class="form-label">User</label>
                    <input type="text" class="form-control" id="user" placeholder="">
                </div>
                <center>
                    <button>Send</button>
                </center>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </section>
</body>
</html>
