@model AccountModel;
<!DOCTYPE html>
@{
    ViewData["Title"] = "Log in";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
</head>
<body>
    <section>
        <div class="row m-auto">
            <div class="col-sm-8" style="padding:0px !important;">
                <div class="loginbox-left">
                    <img class="imgleft" src="http://thaibizlaos.com/upload/iblock/4fe/4fe50acb06e6950244fcce2dd8962a46.jpg" alt="LtnUu2.png" border="0" /> <br>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="loginbox-right">
                    <center>
                        <img class="logologin" src="https://sv1.picz.in.th/images/2023/02/01/LtnUu2.png" alt="LtnUu2.png" border="0" /> <br>
                    </center>
                    <div class="formbox">
                        <form>
                            <h2>ເຂົ້າສູ່ລະບົບ</h2>
                            <div class="inputbox">
                                <input type="text" required>
                                <label for="">ຊື່ຜູ້ໃຊ້</label>
                            </div>

                            <div class="inputbox">
                                <input type="password" required>
                                <label for="">ລະຫັດຜ່ານ</label>
                            </div>

                            <div class="forget">
                                <p><a asp-area="" asp-controller="Account" asp-action="Forgotpassword">ລືມລະຫັດຜ່ານ</a></p>
                            </div>

                    <center>
                        <button type="submit" id="buttonLogin">ເຂົ້າສູ່ລະບົບ</button>
                    </center>

                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>
