<!DOCTYPE html>
@{
    ViewData["Title"] = "Log in";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
</head>
<body>
    <section>
        <div class="loginbox">
            <form>
                <h2>ເຂົ້າສູ່ລະບົບ</h2>
                <div class="inputbox">
                    <input type="text" required>
                    <label for="">ຊື່ຜູ້ໃຊ້</label>
                </div>

                <div class="inputbox">
                    <input type="password" required>
                    <label for="">ລະຫັດຜ່ານ</label>
                </div>

                <div class="forget">
                    <p><a href="#">ລືມລະຫັດຜ່ານ</a></p>
                </div>

                 <center>
                    <button>ເຂົ້າສູ່ລະບົບ</button>
                 </center>

            </form>
        </div>
    </section>
    
</body>
</html>
