<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Immigration</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Immigration.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
</head>
<body>
    <header>
        <div class="menu-bar">
            <div class="barleft">
                <img class="logoIM" width="20" height="20" src="https://sv1.picz.in.th/images/2023/02/01/LtnUu2.png" alt="LtnUu2.png" border="0" />
                <h3 class="headertitle">Immigation <span>Laos</span></h3>
            </div>
            <div class="barcenter">
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">ໜ້າຫຼັກ</a></li>
                    <li>
                        <a href="#">Register <i class="fas fa-caret-down"></i></a>
                        <div class="dropdown-menu">
                            <ul>
                                <li><a asp-area="" asp-controller="Register" asp-action="Passport">PASSPORT</a></li>
                                <li><a asp-area="" asp-controller="Register" asp-action="Borderpass">BORDER PASS</a></li>
                                <li><a asp-area="" asp-controller="Register" asp-action="Temborpass">TEMPORARY BODER PASS</a></li>
                                <li><a asp-area="" asp-controller="Register" asp-action="Truck">ລົດບັນທຸກ</a></li>
                                <li><a asp-area="" asp-controller="Register" asp-action="Blacklist">ບັນຊີດຳ</a></li>
                                <li><a asp-area="" asp-controller="Register" asp-action="Users">ຜູ້ໃຊ້ລະບົບ</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">Report <i class="fas fa-caret-down"></i></a>
                        <div class="dropdown-menu">
                            <ul>
                                <li><a asp-area="" asp-controller="Report" asp-action="Mdata">Master Data</a></li>
                                <li><a asp-area="" asp-controller="Report" asp-action="Personinout">ຂໍ້ມູນເຂົ້າ-ອອກ ສປປ ລາວ</a></li>
                                <li><a asp-area="" asp-controller="Report" asp-action="Psgborderpassbook">ສະຖິຕິຜູ້ໂດຍສານນຳໃຊ້ ປື້ມຜ່ານແດນ ເຂົ້າ-ອອກ</a></li>
                                <li><a asp-area="" asp-controller="Report" asp-action="Psgborderpasspaper">ສະຖິຕິຜູ້ໂດຍສານນຳໃຊ້ ໃບຜ່ານແດນ ເຂົ້າ-ອອກ</a></li>
                                <li><a asp-area="" asp-controller="Report" asp-action="Psgborderpasspassport">ສະຖິຕິຜູ້ໂດຍສານນຳໃຊ້ ຫນັງສືຜ່ານແດນ(PASSPORT) ເຂົ້າ-ອອກ</a></li>
                                <li><a asp-area="" asp-controller="Report" asp-action="Psgborderpass">ສະຖິຕິຜູ້ໂດຍສານນຳໃຊ້ຫນັງສືຜ່ານແດນ(Border Pass) ເຂົ້າ-ອອກ</a></li>
                                <li><a asp-area="" asp-controller="Report" asp-action="Psgtemborder">ສະຖິຕິຜູ້ໂດຍສານນຳໃຊ້ຫນັງສືຜ່ານແດນ(Temporary Border Pass) ເຂົ້າ-ອອກ</a></li>
                                <li><a asp-area="" asp-controller="Report" asp-action="Vehicle">ສະຖິຕິຍານພານະນະ ເຂົ້າ-ອອກ</a></li>
                                <li><a asp-area="" asp-controller="Report" asp-action="Paslist">ລາຍຊື່ຜູ້ໂດຍສານ ເຂົ້າ-ອອກ</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Login">ເຂົ້າສູ່ລະບົບ</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Data">ກວດຂໍ້ມູນສ່ວນບຸກຄົນ</a></li>
                </ul>
            </div>
            <div class="barright">
                <ul>
                    <li>
                        <a href="#">Mr Souksavanh <i class="fas fa-caret-down"></i></a>
                        <div class="dropdown-menu">
                            <ul>
                                <a asp-area="#" asp-controller="Account" asp-action="Login">ອອກຈາກລະບົບ</a>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
       
        <!-- 
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Immigration</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        -->
    </header>

    <div class="row m-auto">
        <main role="main" style="padding:0px;">
            @RenderBody()
        </main>
    </div>

    <!--
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2566 - Immigration - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
     -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
