<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Immigration</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Immigration.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <div class="menu-bar">
            <div class="barleft">
                <img class="logoIM" width="20" height="20" src="https://sv1.picz.in.th/images/2023/02/01/LtnUu2.png" alt="LtnUu2.png" border="0" />
                <h1 class="logo">Immigation <span>Laos</span></h1>
            </div>
            <div class="barcenter">
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li>
                        <a href="#">Register <i class="fas fa-caret-down"></i></a>
                        <div class="dropdown-menu">
                            <ul>
                                <li><a asp-area="" asp-controller="Passport" asp-action="Index">PASSPORT</a></li>
                                <li><a asp-area="" asp-controller="Borderpass" asp-action="Index">BORDER PASS</a></li>
                                <li><a asp-area="" asp-controller="TemporaryBorderPass" asp-action="Index">TEMPORARY BODER PASS</a></li>
                                <li><a asp-area="" asp-controller="TruckMaster" asp-action="TruckMaster">TRUCK</a></li>
                                <li><a asp-area="" asp-controller="Blacklist" asp-action="Index">BLACK LIST</a></li>
                                <li><a asp-area="" asp-controller="Register" asp-action="Users">Users</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">Report <i class="fas fa-caret-down"></i></a>
                        <div class="dropdown-menu">
                            <ul>
                                <li><a asp-area="" asp-controller="Report" asp-action="Personinout">ຂໍ້ມູນເຂົ້າ-ອອກ ສປປ ລາວ</a></li>
                                <li><a asp-area="" asp-controller="Report" asp-action="Psgborderpassbook">ສະຖິຕິຜູ້ໂດຍສານນຳໃຊ້ ປື້ມຜ່ານແດນ ເຂົ້າ-ອອກ</a></li>
                                <li><a asp-area="" asp-controller="Report" asp-action="Psgborderpasspaper">ສະຖິຕິຜູ້ໂດຍສານນຳໃຊ້ ໃບຜ່ານແດນ ເຂົ້າ-ອອກ</a></li>
                                <li><a asp-area="" asp-controller="Report" asp-action="Psgborderpasspassport">ສະຖິຕິຜູ້ໂດຍສານນຳໃຊ້ ຫນັງສືຜ່ານແດນ(PASSPORT) ເຂົ້າ-ອອກ</a></li>
                                <li><a asp-area="" asp-controller="Report" asp-action="Psgborderpass">ສະຖິຕິຜູ້ໂດຍສານນຳໃຊ້ຫນັງສືຜ່ານແດນ(Border Pass) ເຂົ້າ-ອອກ</a></li>
                                <li><a asp-area="" asp-controller="Report" asp-action="Psgtemborder">ສະຖິຕິຜູ້ໂດຍສານນຳໃຊ້ຫນັງສືຜ່ານແດນ(Temporary Border Pass) ເຂົ້າ-ອອກ</a></li>
                                <li><a asp-area="" asp-controller="Report" asp-action="Vehicle">ສະຖິຕິຍານພານະນະ ເຂົ້າ-ອອກ</a></li>
                                <li><a asp-area="" asp-controller="Report" asp-action="Paslist">ລາຍຊື່ຜູ້ໂດຍສານ ເຂົ້າ-ອອກ</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">Master Data <i class="fas fa-caret-down"></i></a>
                        <div class="dropdown-menu">
                            <ul>
                                <li><a asp-area="" asp-controller="Data" asp-action="PassportData">PassportData</a></li>
                                <li><a asp-area="" asp-controller="Data" asp-action="Mdata">BORDER Data</a></li>
                                <li><a asp-area="" asp-controller="Data" asp-action="Mdata">TEMPORARY Data</a></li>
                                <li><a asp-area="" asp-controller="Data" asp-action="Mdata">TRUCK Data</a></li>
                                <li><a asp-area="" asp-controller="Data" asp-action="Mdata">BLACKLIST Data</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Data">Checking Infomation</a></li>
                </ul>
            </div>
            <div class="barright">
                <a asp-area="" asp-controller="Account" asp-action="Login">Log Out</a>
                <!--
                <ul>
                                    <li>
                                        
                                        <div class="dropdown-menu">
                                            <ul>
                                                <li><a href="#">Log out</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                --> 
            </div>
        </div>

        <div id="SAVEDATASUCCESS" class="modal fade modal-setting" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">

            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header pb-0" style="border-bottom: none;">
                        <div class="card-title">บันทึกข้อมูล</div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body pt-3" style="padding: 2em;">
                        <div class="f-popup">
                            คุณได้ทำการ <span class="fw-bold"> 'บันทึกข้อมูล' </span> เรียบร้อยแล้ว
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                <div class="form-group btn-create-group">
                                    <button class="btn btn-save" id="ButtonSAVEDATA" onclick="" type="button"> ตกลง </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="SAVEDATAERROR" class="modal fade modal-setting" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">

            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header pb-0" style="border-bottom: none;">
                        <div class="card-title">บันทึกข้อมูล</div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body pt-3" style="padding: 2em;">
                        <div class="f-popup">
                            บันทึกข้อมูล <span class="fw-bold"> 'ไม่สำเร็จ' </span> กรุณาลองอีกครั้ง
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                <div class="form-group btn-create-group">
                                    <button class="btn btn-save" id="ButtonSAVEDATA" onclick="" type="button"> ตกลง </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   </div>
       
        <!-- 
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Immigration</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        -->
    </header>

    <div class="row m-auto">
        <main role="main" style="padding:0px;">
            @RenderBody()
        </main>
    </div>

    <!--
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2566 - Immigration - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
     -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
