body {
 
}

section {
    padding: 0px 20px;
    font-family: 'Noto Sans Lao';
    background-color: var(--color-second);
}

:root {
    --color-primary: #002440; /* #cb8c25 #002440 */
    --color-second: #e9eaeb; /* #773c00 #e9eaeb; */
    --color-yellow: #fca531; /* #fca531; */
    --color-white: #fff;
    --color-black: black;
    --color-red: #DC4C64;
    --color-green: #14A44D;
    --color-yellow-2: #E4A11B; 
}

.title {
    color: var(--color-yellow);
    padding: 5px 0px;
    margin: 0px 0px 10px 0px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.headerbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.perinfobox {
    border-radius: 20px;
    padding: 10px;
    background-color: var(--color-primary);
    border: solid 5px var(--color-yellow);
}

.perinfobox-left{
    /*background-color:red;*/
}

.userimg {
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--color-primary);
    border: solid 5px var(--color-yellow);
    width: 90%;
    height: auto;
    border-radius:10px;
}

.statusbox {
    padding: 5px 0px;
    margin: 10px 0px;
    border-radius: 5px;
    border: solid 2px green;
    color: var(--color-second);
}

.statusbox span{
    color: green;
    font-weight: bold;
}

.perinfobox-right {
    /*background-color: green;*/
}

.form-label {
    color: var(--color-second);
}

.cambox {
    border-radius: 20px;
    padding: 10px;
    background-color: var(--color-primary);
    border: solid 5px var(--color-yellow);
}

.btnTP {
    padding: 5px 10px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: var(--color-primary);
    background-color: var(--color-yellow);
}

.btnCP {
    padding: 5px 10px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: var(--color-primary);
    background-color: var(--color-yellow);
}

.follbox {
    height: 885px;
    border-radius: 20px;
    padding: 10px;
    background-color: var(--color-primary);
    border: solid 5px var(--color-yellow);
}

.btnadd {
    width: 50%;
    padding: 5px 10px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: var(--color-primary);
    background-color: var(--color-yellow);
}

.actionbox {
    display: flex;
    align-items: center;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btnedit {
    margin: 0px 5px;
    padding: 0px;
    color: var(--color-yellow-2);
}

.btndelete {
    margin: 0px 5px;
    padding: 0px;
    color: var(--color-red);
}

.btnacc {
    width: 50%;
    margin: 10px;
    padding: 5px 10px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: var(--color-white);
    background-color: var(--color-green);
}
.btnrej {
    width: 50%;
    margin: 10px;
    padding: 5px 10px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: var(--color-white);
    background-color: var(--color-red);
}
.btncleardoc {
    width: 50%;
    margin: 10px;
    padding: 5px 10px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: var(--color-primary);
    background-color: var(--color-yellow);
}
.btndeletedoc {
    width: 50%;
    margin: 10px;
    padding: 5px 10px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: var(--color-primary);
    background-color: var(--color-yellow);
}

.table {
    color: var(--color-yellow);
}