body {
 
}

section {
    margin: 0px 20px;
}

:root {
    --color-primary: #002440; /* #cb8c25 #002440 */
    --color-second: #e9eaeb; /* #773c00 #e9eaeb; */
    --color-yellow: #fca531; /* #fca531; */
    --color-white: #fff;
    --color-black: black;
}

.title {
    padding: 5px 0px;
    margin: 10px 0px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

button {
    width: 70%;
    height: 40px;
    border-radius: 10px;
    background: #bdc3c7;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: #fff;
}
