body {
 
}

:root {
    --color-primary: #002440; /* #cb8c25 #002440 */
    --color-second: #e9eaeb; /* #773c00 #e9eaeb; */
    --color-yellow: #fca531; /* #fca531; */
    --color-white: #fff;
    --color-black: black;
}

section {
    width: 100%;
    height: 100vh;
    font-family: 'Noto Sans Lao';
    background-color: var(--color-primary);
}

.loginbox-left {
    width: 100%;
    height: 100vh;
    background-color: var(--color-second);
}

.imgleft {
    width: 100%;
    height: 100vh;
}

.loginbox-right {
    height: 100vh;
    color: var(--color-second);
}

.logologin {
    width: 40%;
    height: auto;
    margin: 30px 0px;
}

.formbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginbox {
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #2d3192;
}
h2 {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}
.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid var(--color-second);
}

    .inputbox label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        color: var(--color-second);
        font-size: 1em;
        pointer-events: none;
        transition: .5s;
    }

input:focus ~ label, input:valid ~ label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: var(--color-second);
}

.forget {
    font-size: .9em;
    color: var(--color-second);
    margin: 25px 0 10px;
}

    .forget p a {
        color: var(--color-second);
        font-weight: 600;
    }

        .forget p a:hover {
            text-decoration: underline;
        }

button {
    width: 70%;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color-yellow);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: var(--color-primary);
}