body {
 
}

section {
    font-family: 'Noto Sans Lao';
    margin: 0px 20px;
}

:root {
    --color-primary: #002440; /* #cb8c25 #002440 */
    --color-second: #e9eaeb; /* #773c00 #e9eaeb; */
    --color-yellow: #fca531; /* #fca531; */
    --color-white: #fff;
    --color-black: black;
}

.title{
    padding: 10px 0px;
    margin: 10px 0px;
    font-weight: bold;
    width: 100%;
    text-align:center;
}
.regisbox {
    padding: 10px 0px;
}

.leftbox {
    padding: 0 50px;
}

.rightbox {
    padding: 0 50px;
} 

button {
    height: 40px;
    padding:0px 20px;
    border-radius: 10px;
    background: #bdc3c7;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: #fff;
}

.userimg {
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--color-white);
    border: solid 5px var(--color-black);
}

.fas {
    margin: 0px;
    padding: 0px;
}

.actionbox {
    display: flex;
    align-items: center;
    height: 25px;
    display: flex;
    flex-direction:row;
    align-items:center;
}

.btnedit {
    margin: 0px 10px;
    padding: 0px;
}

.btndelete {
    margin: 0px 10px;
    padding: 0px;
}