body {
 
}

section {
    font-family: 'Noto Sans Lao';
    margin: 0px 20px;
    --color-black: var(--color-second);
}

:root {
    --color-primary: #002440; /* #cb8c25 #002440 */
    --color-second: #e9eaeb; /* #773c00 #e9eaeb; */
    --color-yellow: #fca531; /* #fca531; */
    --color-white: #fff;
    --color-black: black;
    --color-red: #DC4C64;
    --color-green: #14A44D;
    --color-yellow-2: #E4A11B;
}

.title {
    padding: 10px 0px;
    margin: 10px 0px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: var(--color-yellow);
}
.regisbox {
    padding: 10px 0px;
}

.leftbox {
    padding: 0 50px;
}

.filename {
    margin: 20px 0px 30px 0px;
    color: var(--color-primary);
    font-weight: 500;
}

input[type="file"] {
    display: none;
}

.uploadlabel {
    display: flex;
    justify-content:center;
    align-items:center;
    width: 200px;
    color: var(--color-primary);
    background-color: var(--color-yellow);
    font-weight:600;
    height:40px;
    border-radius:10px;
    cursor:pointer;
}

.rightbox {
    padding: 0 50px;
}

.form-label {
    color: var(--color-primary);
    font-weight:500;
}

button {
    height: 40px;
    padding: 0px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: var(--color-primary);
    background-color: var(--color-yellow);
}

.userimg {
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--color-primary);
    border: solid 5px var(--color-yellow);
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.fas {
    margin: 0px;
    padding: 0px 10px;
}

.actionbox {
    display: flex;
    align-items: center;
    height: 25px;
    display: flex;
    flex-direction:row;
    align-items:center;
}

.btnedit {
    margin: 0px 10px;
    padding: 0px;
    color: var(--color-yellow-2) !important;
    cursor: pointer;
}

.btndelete {
    margin: 0px 10px;
    padding: 0px;
    color: var(--color-red) !important;
    cursor: pointer;
}

.truckbox{
    display:flex;
    align-items:center;
    height: 80px;
}

.table {
    color: var(--color-primary);
}

.form-select {
    color: var(--color-primary);
    border-color: var(--color-yellow);
}

    .form-select option {
        color: var(--color-primary) ;
    }
        .form-select option:hover {
            color: var(--color-primary) !important;
            background-color: var(--color-yellow) !important;
        }

.form-control {
    color: var(--color-primary);
    border-color: var(--color-yellow);
}