@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
}

body {
    margin-bottom: 60px;
    font-family: 'Noto Sans Lao' !important;
}


:root {
    --color-primary: #002440; /* #cb8c25 #002440 */
    --color-second: #e9eaeb; /* #773c00 #e9eaeb; */
    --color-yellow: #fca531; /* #fca531; */
    --color-white: #fff;
    --color-black: black;
}

.menu-bar {
    background-color: var(--color-primary) !important;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5%;
    position: relative;
}

.barleft{
    width:30%;
    display:flex;
    flex-direction:row;
    align-items:center;
}

.logoIM{
    margin: 0px 10px;
}


.headertitle {
    margin: 0px;
    color: var(--color-second);
}

    .headertitle span {
        color: var(--color-yellow);
    }

.fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}

.barcenter {
    width: 50%;
}
    .barcenter ul {
        list-style: none;
        display: flex;
        margin: 0px;
        justify-content: center;
    }
        .barcenter ul li {
            padding: 5px 10px;
            position: relative;
        }
            .barcenter ul li a {
                font-size: 15px;
                color: var(--color-white);
                text-decoration: none;
                transition: all 0.3s;
                font-weight:bold;
            }
                .barcenter ul li a:hover {
                    color: var(--color-yellow);
                }

.barcenter ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 10px;
    top: 100%;
    background-color: var(--color-primary);
}
    .barcenter ul li:hover .dropdown-menu ul {
        display: block;
        margin: 10px;
    }

        .barcenter ul li:hover .dropdown-menu ul li {
            width: 350px;
            padding: 10px;
        }

.dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: var(--color-black);
}

.barright {
    width: 20%;
}

    .barright ul {
        list-style: none;
        display: flex;
        margin: 0px;
        justify-content: right;
    }

        .barright ul li {
            padding: 5px 10px;
            position: relative;
        }

            .barright ul li a {
                font-size: 15px;
                color: var(--color-white);
                text-decoration: none;
                transition: all 0.3s;
                font-weight: bold;
            }

                .barright ul li a:hover {
                    color: var(--color-yellow);
                }

            .barright ul li:hover .dropdown-menu {
                display: block;
                position: absolute;
                left: 10px;
                top: 100%;
                background-color: var(--color-primary);
            }

                .barright ul li:hover .dropdown-menu ul {
                    display: block;
                    margin: 10px;
                }

                    .barright ul li:hover .dropdown-menu ul li {
                        width: 350px;
                        padding: 10px;
                    }
    
