@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
}

body {
    margin-bottom: 60px;
    font-family: 'Noto Sans Lao' !important;
}


:root {
    --color-primary: #0073ff;
    --color-white: #e9e9e9;
    --color-black: #141d28;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    color: var(--color-white);
    font-size: 25px;
}

    .logo span {
        color: var(--color-primary);
    }

.menu-bar {
    background-color: var(--color-black);
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction:row;
    align-items: center;
    padding: 0 5%;
    position: relative;
}

.barleft{
    width:30%;
    display:flex;
    flex-direction:row;
    align-items:center;
}
.logoIM{
    margin: 10px;
}
.barcenter {
    width: 40%;
}
    .barcenter ul {
        list-style: none;
        display: flex;
        margin: 0px;
        justify-content: center;
    }
        .barcenter ul li {
            padding: 5px 10px;
            position: relative;
        }
            .barcenter ul li a {
                font-size: 15px;
                color: var(--color-white);
                text-decoration: none;
                transition: all 0.3s;
                font-weight:bold;
            }
                .barcenter ul li a:hover {
                    color: var(--color-primary);
                }

.fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}

.barcenter ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 10px;
    top: 100%;
    background-color: var(--color-black);
}
    .barcenter ul li:hover .dropdown-menu ul {
        display: block;
        margin: 10px;
    }

        .barcenter ul li:hover .dropdown-menu ul li {
            width: 350px;
            padding: 10px;
        }

.dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: var(--color-black);
}

.barright {
    width: 30%;
    text-align:right;
}

    .barright a {
        text-decoration: none;
        color: var(--color-white);
        font-weight: bold;
    }

        .barright a:hover {
            color: var(--color-primary);
        }

/*


      

           

               







   

       

.dropdown-menu-1 {
    display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: var(--color-black);
}
            

              






   

       


*/
    
    
