<!DOCTYPE html>
@{
    ViewData["Title"] = "Passenger IN-OUT List";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Report.css" asp-append-version="true" />
</head>
<body>
    <section>
        <h2 class="title">ລາຍຊື່ຜູ້ໂດຍສານ ເຂົ້າ-ອອກ</h2>
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-3">
                    <label for="startdate" class="form-label">Search from start date</label>
                    <input type="date" class="form-control form-control-sm" id="startdate" placeholder="">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-3">
                    <label for="enddate" class="form-label">to end date</label>
                    <input type="date" class="form-control form-control-sm" id="enddate" placeholder="">
                </div>
            </div>
        </div>
        <br />
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="text-align:center;">ລ/ດ</th>
                        <th style="text-align:center;">ວ.ດ.ປ, ເວລາ</th>
                        <th style="text-align:center;">ຊື່</th>
                        <th style="text-align:center;">ນາມສະກຸນ</th>
                        <th style="text-align:center;">ເພດ</th>
                        <th style="text-align:center;">ວ.ດ.ປ, ເກີດ</th>
                        <th style="text-align:center;">ສັນຊາດ</th>
                        <th style="text-align:center;">ເຊື້ອຊາດ</th>
                        <th style="text-align:center;">ເລກທີໜັງສືຜ່ານແດນ</th>
                        <th style="text-align:center;">ປະເພດເອກະສານ</th>
                        <th style="text-align:center;">ທິດທາງ</th>
                        <th style="text-align:center;">ຈຸດປະສົງ</th>
                        <th style="text-align:center;">ທີ່ຢູ່ໃນ ສປປ ລາວ</th>
                        <th style="text-align:center;">ໝາຍເຫດ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>-</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>-</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>-</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>-</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

</body>
</html>
