<!DOCTYPE html>
@{
    ViewData["Title"] = "Master Data";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Report.css" asp-append-version="true" />
</head>
<body>
    <section>
        <h2 class="title">ຂໍ້ມູນເຂົ້າ-ອອກ ສປປ ລາວ</h2>
        <div class="">
            <div class="mb-3">
                <label for="docnosearch" class="form-label">Search for Passport / Border Pass / Temporary Border Pass / QR Code</label>
                <input type="text" class="form-control form-control-sm" id="docnosearch" placeholder="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h5>ຂໍ້ມູນບຸກຄົນ</h5>
                <label>ນາມສະກຸນ: <span>AAAAAAAAA</span></label> <br />
                <label>ຊື່: <span>AAAAAAAAA</span></label> <br />
                <label>ວັນເດືອນປີເກີດ: <span>AAAAAAAAA</span></label> <br />
                <label>ເພດ: <span>AAAAAAAAA</span></label> <br />
                <label>ພົນລະເມືອງລາວ: <span>AAAAAAAAA</span></label>
            </div>
            <div class="col-md-4">
                <h5>ຂໍ້ມູນເອກະສານເດີນທາງ</h5>
                <label>ເລກທີຫນັງສືຜ່ານແດນ: <span>AAAAAAAAA</span></label> <br />
                <label>ປະເພດເອກະສານ: <span>AAAAAAAAA</span></label> <br />
                <label>ສັນຊາດ: <span>AAAAAAAAA</span></label>
            </div>
            <div class="col-md-4">
                <h5>ໝາຍເຫດ</h5>
                <label>Black List</label>
            </div>
        </div>
        <br />
        <h5>ຖ້ຽວເຂົ້າ-ອອກ</h5>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ທິດທາງ</th>
                    <th scope="col">ເວລາວັນທີ</th>
                    <th scope="col">ດ່ານເຂົ້າອອກ</th>
                    <th scope="col">ເລກຟອມ</th>
                    <th scope="col">ປະເພດວີຊາ</th>
                    <th scope="col">ຈຸດປະສົງ</th>
                    <th scope="col">ພັກຢູ່ລາວຮອດ</th>
                    <th scope="col">ທີ່ຢູ່ ສປປ ລາວ</th>
                    <th scope="col">ທີ່ພັກຄັ້ງລ່າສຸດ</th>
                    <th scope="col">ຜູ້ແຈ້ງ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>
                       mdo
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

</body>
</html>
