<!DOCTYPE html>
@{
    ViewData["Title"] = "Vehicle IN-OUT";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Report.css" asp-append-version="true" />
</head>
<body>
    <section>
        <h2 class="title">ສະຖິຕິຍານພານະນະ ເຂົ້າ-ອອກ</h2>
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-3">
                    <label for="startdate" class="form-label">Search from start date</label>
                    <input type="date" class="form-control form-control-sm" id="startdate" placeholder="">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-3">
                    <label for="enddate" class="form-label">to end date</label>
                    <input type="date" class="form-control form-control-sm" id="enddate" placeholder="">
                </div>
            </div>
        </div>
        <br />
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th rowspan="2" style="text-align:center;">ລ/ດ</th>
                        <th rowspan="2" style="text-align:center;">ສັນຊາດ</th>
                        <th colspan="2" style="text-align:center;">ລວມ</th>
                        <th colspan="2" style="text-align:center;">ລົດບັນທຸກສິນຄ້າ</th>
                        <th colspan="2" style="text-align:center;">ລົດການທູດ</th>
                        <th colspan="2" style="text-align:center;">ລົດລັດຖະການ</th>
                        <th colspan="2" style="text-align:center;">ລົດສ່ວນໂຕ</th>
                        <th colspan="2" style="text-align:center;">ລົດທ່ອງທ່ຽວ</th>
                        <th colspan="2" style="text-align:center;">ລົດໂດຍສານ</th>
                        <th colspan="2" style="text-align:center;">ລົດໂຮງໝໍ</th>
                        <th colspan="2" style="text-align:center;">ລົດຄາລະວານ</th>
                    </tr>
                    <tr>
                        <th style="text-align:center;">ເຂົ້າ</th>
                        <th style="text-align:center;">ອອກ</th>
                        <th style="text-align:center;">ເຂົ້າ</th>
                        <th style="text-align:center;">ອອກ</th>
                        <th style="text-align:center;">ເຂົ້າ</th>
                        <th style="text-align:center;">ອອກ</th>
                        <th style="text-align:center;">ເຂົ້າ</th>
                        <th style="text-align:center;">ອອກ</th>
                        <th style="text-align:center;">ເຂົ້າ</th>
                        <th style="text-align:center;">ອອກ</th>
                        <th style="text-align:center;">ເຂົ້າ</th>
                        <th style="text-align:center;">ອອກ</th>
                        <th style="text-align:center;">ເຂົ້າ</th>
                        <th style="text-align:center;">ອອກ</th>
                        <th style="text-align:center;">ເຂົ້າ</th>
                        <th style="text-align:center;">ອອກ</th>
                        <th style="text-align:center;">ເຂົ້າ</th>
                        <th style="text-align:center;">ອອກ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>-</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>-</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>-</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>-</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center;">ລວມ</th>
                        <th style="text-align:center;">-</th>
                        <th style="text-align:center;">-</th>
                        <th style="text-align:center;">-</th>
                        <th style="text-align:center;">-</th>
                        <th style="text-align:center;">-</th>
                        <th style="text-align:center;">-</th>
                        <th style="text-align:center;">-</th>
                        <th style="text-align:center;">-</th>
                        <th style="text-align:center;">-</th>
                        <th style="text-align:center;">-</th>
                        <th style="text-align:center;">-</th>
                        <th style="text-align:center;">-</th>
                        <th style="text-align:center;">-</th>
                        <th style="text-align:center;">-</th>
                        <th style="text-align:center;">-</th>
                        <th style="text-align:center;">-</th>
                        <th style="text-align:center;">-</th>
                        <th style="text-align:center;">-</th>
                    </tr>
                </thead>
            </table>
        </div>
    </section>

</body>
</html>
