<!DOCTYPE html>
@{
    ViewData["Title"] = "Checking Infomation";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Checking.css" asp-append-version="true" />
</head>
<body>
    <section>
        <br />
        <h2 class="title">ກວດຂໍ້ມູນສ່ວນບຸກຄົນ</h2>
        <br />
        <div class="headerbox">
            <div class="headerbox-left">
                <div class="mb-3">
                    <label for="docnosearch" class="form-label" style="color: #002440 !important;">ຄົ້ນຫາດ້ວຍ Passport / Border Pass / Temporary Border Pass / QR Code</label>
                    <input type="text" class="form-control form-control-sm" id="docnosearch" placeholder="">
                </div>
            </div>
            <div class="headerbox-right">
                <div class="mb-3">
                    <label for="docnohead" class="form-label" style="color: #002440 !important;">ເລກທີເອກະສານ</label>
                    <input type="text" class="form-control form-control-sm" id="docnohead" placeholder="000001" readonly>
                </div>
            </div>
        </div>
        <div class="row m-auto">
            <div class="col-md-6">
                <div class="perinfobox">
                    <div class="row">
                        <center>
                            <label class="title">ຂໍ້ມູນສ່ວນບຸກຄົນ</label>
                        </center>
                        <div class="col-md-6 perinfobox-left">
                            <div class="mb-3">
                                <label for="docno" class="form-label">ເລກທີເອກະສານ</label>
                                <input type="text" class="form-control form-control-sm" id="docno" placeholder="" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="name" class="form-label">ຊື່</label>
                                <input type="text" class="form-control form-control-sm" id="name" placeholder="" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="surename" class="form-label">ນາມສະກຸນ</label>
                                <input type="text" class="form-control form-control-sm" id="surename" placeholder="" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="birtofdate" class="form-label">ວັນ/ດືອນ/ປີ ເກີດ</label>
                                <input type="text" class="form-control form-control-sm" id="surename" placeholder="" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="sex" class="form-label">ເພດ</label>
                                <input type="text" class="form-control form-control-sm" id="sex" placeholder="" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="country" class="form-label">ປະເທດ</label>
                                <input type="text" class="form-control form-control-sm" id="country" placeholder="" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="village" class="form-label">ບ້ານ</label>
                                <input type="text" class="form-control form-control-sm" id="village" placeholder="" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="district" class="form-label">ເມືອງ</label>
                                <input type="text" class="form-control form-control-sm" id="district" placeholder="" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="province" class="form-label">ແຂວງ</label>
                                <input type="text" class="form-control form-control-sm" id="province" placeholder="" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="occupation" class="form-label">ອາຊີບ</label>
                                <input type="text" class="form-control form-control-sm" id="occupation" placeholder="" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="perinfobox-right">
                                <center>
                                    <img class="userimg" src="https://sv1.picz.in.th/images/2023/02/01/LtnUu2.png" alt="LtnUu2.png" border="0" /> <br>
                                    <div class="statusbox">
                                        ສະຖານະ: <span>ຜ່ານ</span>
                                    </div>
                                </center>
                                <div class="mb-3">
                                    <label for="remark" class="form-label">ໝາຍເຫດ</label>
                                    <textarea class="form-control" placeholder="" id="remark" style="height: 120px" readonly></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 ">
                <div class="cambox">
                    <center>
                        <label class="title">ກ້ອງຖ່າຍຮູບ</label>
                        <img class="userimg" src="https://sv1.picz.in.th/images/2023/02/01/LtnUu2.png" alt="LtnUu2.png" border="0" /> <br>
                        <button class="btnTP">ຖ່າຍຮູບ</button>
                        <button class="btnCP">ລົບຮູບ</button>
                    </center>
                    <br />
                    <div>
                        <center>
                            <button class="btnacc"><i class="fas fa-check"></i><span>ຍອມຮັບ</span></button>
                            <button class="btnrej"><i class="fas fa-ban"></i><span>ປະຕິເສດ</span></button>
                            <button class="btncleardoc"><i class="fas fa-broom"></i><span>ລ້າງເອກະສານ</span></button>
                            <button class="btndeletedoc"><i class="fas fa-trash"></i><span>ລົບເອກະສານ</span></button>
                        </center>
                    </div>
                </div>
                
            </div>

            <div class="col-md-3">
                <div class="follbox">
                    <label class="title">ຜູ້ຕິດຕາມ</label>
                    <div class="mb-3">
                        <label for="name" class="form-label">ຊື່</label>
                        <input type="text" class="form-control form-control-sm" id="name" placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="surename" class="form-label">ນາມສະກຸນ</label>
                        <input type="text" class="form-control form-control-sm" id="surename" placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="birtofdate" class="form-label">ວັນ/ດືອນ/ປີ ເກີດ</label>
                        <input type="text" class="form-control form-control-sm" id="birtofdate" placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="comname" class="form-label">ຊື່ ບໍລິສັດ</label>
                        <input type="text" class="form-control form-control-sm" id="comname" placeholder="">
                    </div>
                    <center>
                        <button class="btnadd">ເພີ່ມ</button>
                    </center>
                    <br />
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ຊື່</th>
                                    <th scope="col">ວັນ/ດືອນ/ປີ ເກີດ</th>
                                    <th scope="col">ບໍລິສັດ</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>mdo</td>
                                    <td>
                                        <div class="actionbox">
                                            <a class="btnedit"><i class="fas fa-pen-to-square"></i></a>
                                            <a class="btndelete"><i class="fas fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </section>
</body>
</html>
