
﻿@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
﻿
<!DOCTYPE html>
@{
    ViewData["Title"] = "Home";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
</head>
<body>
    <section>
        <h2 class="title">Home</h2>
        <p>UserId : @HttpContextAccessor.HttpContext.Session.GetString("USERID")</p>
    </section>
</body>
</html>